/*Location*/
/*Padding*/
/*Border*/
/*Font definition*/
/*Animation*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////BASE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
html {
	font-size: 1em;
	color: #323232;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}
footer 
{
	background-color: rgba(116, 111, 145, 0.5);
	text-align: center;
	text-transform: uppercase;
	padding: 0.15em 0 ;
	bottom: 0;
	margin: 0 -0.5%;
	width: 101%;
	font-size: 2em;

}
nav 
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: flex-start;
}


details 
{
	color: #79768c;
	margin-bottom : 1em;
	outline: none;
}

summary 
{
	color: #323232;
	cursor: pointer;
	outline: none;
	margin-bottom : 0.4em;
}

ul li 
{
	padding: 1em 1em;
}
ol details 
{
	padding: .5em .5em;
}
h1 
{

    justify-content: right;
    align-content: space-around;
    font-size: 4.25em;
    text-align: right;
	color: #93D9C2;
	margin-right: 13%;
}

h2 
{
    margin-right: 20px;
    justify-content: center;
    align-content: space-around;
    text-align: right;
	height: fit-content;
	margin-right: 13%;
	color: rgb(125, 179, 161);
}

h4 {

	background: rgb(131,128,150);
	background: linear-gradient(90deg, rgba(116,111,145,1) 0%, rgba(131,128,150,1) 100%);
	padding: 15px;
	color: white;
	text-transform: uppercase;
}


a {
	color: #323232;

	font-weight: bold;
	text-decoration: none;
	line-height: 2;
	letter-spacing: 1px;
}

header {
	margin-top: 200px;
    top: 0;

    display: flex;
    width: 100%;
    height: fit-content;
    border-bottom-width: 5px;
    border-color: aqua;
    align-content: flex-end;
    flex-flow: column;
    justify-content: space-around;
}


img[src] {
	align-content: center;
}

a:hover {
	color: #47d1d4;
}

article {

	background: rgb(210,224,251);
	background: linear-gradient(300deg, rgba(210,224,251,1) 0%, rgba(216,228,250,1) 22%, rgba(249,251,255,1) 100%);	padding-bottom: 4%;
	margin: 0 5%;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
}

section {
	margin: 0px;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
/*////////////////////////////////////////////////////////////////SPECIFIC\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------*/
.comp {

	width: 40%;
	min-width: 450px;
}

.comp article,
.comp h4 {
	margin-bottom: 0;
	margin-top: 0;
}

.contact {

	background-color: #838096;
	padding: 15px;
	color: white;
	text-transform: uppercase;

}


.xp {
	/*Location*/
	width: 40%;
	min-width: 450px;
	/*Padding*/
	/*Border*/
	/*Font definition*/
	/*Animation*/

}

/*--------------------*/
article ol {
	padding-left: 4em;
}
/*--------------------*/

.padded-details summary {
	/*Location*/

	/*Padding*/
	padding-left: 5%;
	/*Border*/
	/*Font definition*/
	font-weight: bold;
	color: #E86854;
	/*Animation*/

}

h4 > .padded-details {
	padding-top: 5%;
}

summary > .titre-details {
	font-weight: bold;
	color: #E86854;
}


.skills {
	margin-top: 1.25em;
}

/*--------------------*/
p,
h4 + dl {
	margin-left: 1em;
	text-align: left;
}
address{

	font-style: normal;
}

details dt
{
	margin: auto 5%;
	text-align: left;
	color: #323232;
}

details dd 
{
	margin: auto 5%;
	text-align: left;
	margin-bottom: 1em;
	text-align: justify;
}

dd {
	padding-left: 5%;
}

dt img {
	width: 32px;
}

main {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: stretch;
	flex-direction: row-reverse;
	margin-bottom: 15%;

}
/*--------------------*/
.degrees {
	margin-top: 0;
}

.background-couleur {
	background-attachment: fixed;
    top: 0;
    left: 0;
    background-color: #f9ffff;
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    z-index: -10;
    background-image: url(../image/picture2.jpg);
    background-size: cover;
	background-position: center;
}

footer a {
	text-align: center;
	color: white;
}
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////////////////////////////////TABLE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/

table {
	padding-left: 0.6em;
	border-spacing: 1em;
}

table i {
	padding-left: 0.5em;
}
table p {
	padding: 0;
	margin: 0;
	line-height: 0;
}
table a {
	padding: 0;
	margin: 0;
	line-height: 0;
}
tr>td
{
	text-align: center;
}
/*/////////////////////////////////////////////////DETAIL TABLE\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
details table
{
	padding-left: 2em;
	border-spacing: 0.2em;
	margin-right : 0;
	
}

details table td
{
	text-align: left;
	padding-right: 0;
	
}
details table dt
{
	text-indent: 0;
}

details table img
{
	text-align: center;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*////////////////////////////////////////////////////BUTTONS\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/

button {

	color: black;
	margin: 3px;
	border: 1px solid black;
	flex-basis: 50px;
	height: 34px;
	transition-duration: 0.4s;
}

button:hover {

	color: white;
	margin: 3px;
	flex-basis: 50px;
	height: 34px;
	border: 1px solid white;
}
/*/////////////////////////////////////////////////ID\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#FRbtn
{
	background-image: url(../image/FR.png);
	background-position: center;
	background-size: cover;
}

#ENbtn
{
	background-image: url(../image/EN.png);
	background-position: center;
	background-size: cover;
}
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*//////////////////////////////////////////////////MEDIAS QUERY\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------------------------------------------------------------------------------*/
@media (max-width:450px) {
	html {
		font-size: 0.8em;
	}
	.Langue 
	{
		margin-top: 200px;;
	}
	.xp, .comp 
	{
		width: 92%;
		min-width: 0;
	}
	h1 {font-size: 3em;
	align-self: center;}
	h2 {color: white;
	align-self: center;}

	button {

		margin: 3px;
		flex-basis: 25px;
		height: 17px;
	}
	
	button:hover {
	
		margin: 3px;
		flex-basis: 25px;
		height: 17px;
	}

	main 
	{
		margin-bottom: 20%;
	}
	header 
	{

		justify-content: space-evenly;
		align-items: center;
	}
	table 
	{
		padding-left: 0;
		border-spacing: 0.1em 1em;
	}
	details table
	{
		padding-left: 1em;
		border-spacing: 0.1em;
		margin-right : 0;
		
	}
	details table img
	{
		width: 25px;
		text-align: right;
		
	}
	
}
