/*Location*/
/*Padding*/
/*Border*/
/*Font definition*/
/*Animation*/

body {
	/*background-color: #323232;
	
    border: 30px solid #323232;*/
}

html {
	font-size: 1em;
	/*px signifie 'pixels': la taille de base pour la police est désormais 10 pixels de haut  */
	/*  font-family: 'MedievalSharp', cursive;*/
	/* cela devrait être le reste du résultat obtenu à partir de Google fonts */
	color: #323232;
	background-color: white;
	font-family: 'Montserrat', sans-serif;
}

p,
ul,
dl,
a,
ol,
	{
	padding: 0 1.5em;
}

details {
	color: #838096;
}

summary {
	color: #323232;
}

li {
	padding: 0 20px 0 0;
}

h1 {
	margin: 0;
	padding: 20px 0;
	padding-right: 10%;
	padding-bottom: 8%;
	font-size: 60px;
	text-align: right;
	color: #93D9C2;
}

h2 {
	text-align: right;
	padding-right: 10%;
	padding-bottom: 7%;
	right: 20%;

}

h4 {
	background-color: #838096;
	padding: 15px;
	color: white;
	text-transform: uppercase;
}


a {
	color: #323232;
	/*font-size: 16px;*/
	font-weight: bold;
	text-decoration: none;
	line-height: 2;
	letter-spacing: 1px;
}

header {
	margin-top: 10%;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	border-bottom-width: 5px;
	border-color: aqua;

}

img[src] {
	align-content: center;
}

a:hover {
	color: #47d1d4;
}

button {
	background-color: brown;
	color: white;
	padding: 6px;
	float: : left;
	border: 2px solid black;
	width: 100%;
	transition-duration: 0.4s;
}

button:hover {
	background-color: white;
	color: red;
	padding: 6px;
	width: 100%;
	border: 2px solid white;
}

article {
	background-color: #D8E4FA;
	/*padding: 15px;*/
	padding-bottom: 4%;
	margin: 0 5%;
	width: 90%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	z-index: 2;
}

section {
	margin: 0px;
}

.comp {

	width: 40%;
	min-width: 450px;
}

.comp article,
.comp h4 {
	margin-bottom: 0;
	margin-top: 0;
}

.contact {

	background-color: #838096;
	padding: 15px;
	color: white;
	text-transform: uppercase;

}


.xp {
	/*Location*/
	width: 40%;
	min-width: 450px;
	/*Padding*/
	/*Border*/
	/*Font definition*/
	/*Animation*/

}

article ol {
	padding-left: 25%;
}

.padded-details summary {
	/*Location*/

	/*Padding*/
	padding-left: 5%;
	/*Border*/
	/*Font definition*/
	font-weight: bold;
	color: #E86854;
	/*Animation*/

}

h4 > .padded-details {
	padding-top: 5%;
}

summary > .titre-details {
	font-weight: bold;
	color: #E86854;
}

#emeric {
	position: fixed;
	height: 100%;
	width: auto;
	top: 0;
	left: 0;
	z-index: -1;

}

#skills {
	margin-top: 1.25em;
}

p,
h4 + dl {
	margin-left: 5%;
	text-align: left;
}

details dt,
details dd {
	margin-left: 5%;
	text-align: left;
}

dd {
	text-indent: 5%;
}

details dt {
	color: #323232;
}

dt img {
	width: 32px;
}

main {
	display: flex;
	flex-wrap: wrap-reverse;
	justify-content: center;
	align-items: stretch;
	flex-direction: row-reverse;

}

.degrees {
	margin-top: 0;
}

.bakcground-couleur {
	top: 0;
	left: 0;
	background-color: #f9ffff;
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	z-index: -10;
}

table {
	padding-left: 1.1em;
}

table i {
	padding-left: 1em;
}

@media (max-width:450px) {
	html {
		font-size: 0.8em;
	}

	.xp {
		width: 80%;
		min-width: 0;
	}

	.comp {
		width: 80%;
		min-width: 0;
	}
}
